.post {
  .title {
    position: absolute;
    width: 39%;
    height: 1px;
    top: 0;
    left: 0;

    .big_abstract {
      line-height: 5rem;
      font-size: 4rem;
      margin: 0;
      height: 600px;
      display: flex;
      align-items: center;
      overflow-wrap: anywhere;
    }
  }

  .excerpt {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;

    a, p {
      text-decoration: none;
      color: $text-colour;
    }

    .featured {
      //position: absolute;
      //top: 250px;
      //right: 0;
      width: 100%;
      height: auto;
      aspect-ratio: 3 / 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  //&:nth-of-type(even) {
  //  background: pink;
  //
  //  .title {
  //    left: unset;
  //    right: 0;
  //
  //    .big_abstract {
  //      writing-mode: vertical-rl;
  //    }
  //  }
  //
  //  .excerpt {
  //    right: unset;
  //    left: 0;
  //  }
  //
  //  .featured {
  //    left: 0;
  //    right: unset;
  //  }
  //}


  @media (max-width: $sm) {
    a {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .title {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;

        .big_abstract {
          height: auto;
          display: contents;
        }
      }

      .excerpt {
        position: relative;
        width: 100%;

        .featured {

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}