.post {
  .title {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;

    .big_abstract {
      line-height: 9rem;
      font-size: 9rem;
      margin: 0;
      width: 400px;
      height: 1900px;
      display: flex;
      align-items: flex-end;
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }
  }

  .excerpt {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;

    a, p {
      text-decoration: none;
      color: $text-colour;
    }
  }

  .featured {
    position: absolute;
    top: 250px;
    right: 0;
    width: 60%;
    height: auto;
    aspect-ratio: 3 / 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:nth-of-type(even) {
    background: pink;

    .title {
      left: unset;
      right: 0;

      .big_abstract {
        writing-mode: vertical-rl;
      }
    }

    .excerpt {
      right: unset;
      left: 0;
    }

    .featured {
      left: 0;
      right: unset;
    }
  }
}